
thead {
        background: #0056b3;
    border-bottom: 1px solid #c9c4c4;
    color: #fff;
    }

.table-responsived{
        display:block;
        width:100%;
        overflow-x: auto;
        max-height: 580px;
        border: none;
        padding: 5px 2px;
        margin: 0;
            padding: 0;
            box-sizing: border-box;
        
    }

td{
        text-align:center!important;
    }

    .side{
        font-size:12px
    }

p {
  color: #fff; /* or any other color value */
  font-size: 16px; /* or any other font size value */
}
