
thead {
        background: #0056b3;
    border-bottom: 1px solid #c9c4c4;
    color: #fff;
    }

.table-responsived{
/*         display:block; */
        width:auto;
        overflow-x: auto;
        overflow-y: auto;
        max-height: 580px;
        border: none;
        padding: 5px 2px;
  
        
    }

td{
        text-align:center!important;
    }

    .side{
        font-size:12px
    }

.pinfo {
  color: black; /* or any other color value */
  font-size: 16px; /* or any other font size value */
}
